Repository marcinkawka/aq-tseries-prediction: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-print, check-poetry-lock, ensure-license-header

Path conditions:
  forbid-print: any of: \.py$, but not: (?x)(
  ^dist/|
  ^build/|
  ^\.venv/|
  ^\.mypy_cache/|
  ^\.ruff_cache/|
  ^\.pytest_cache/|
  ^coverage/|
  ^docs/_build/
)

  check-poetry-lock: any of: ^pyproject\.toml$, but not: (?x)(
  ^dist/|
  ^build/|
  ^\.venv/|
  ^\.mypy_cache/|
  ^\.ruff_cache/|
  ^\.pytest_cache/|
  ^coverage/|
  ^docs/_build/
)

  ensure-license-header: any of: ^(src|app)/.*\.py$, but not: (?x)(
  ^dist/|
  ^build/|
  ^\.venv/|
  ^\.mypy_cache/|
  ^\.ruff_cache/|
  ^\.pytest_cache/|
  ^coverage/|
  ^docs/_build/
)


removed
  node_modules/.cache/prettier/.prettier-caches/18b6a916bb3afe8529881a2191628345e0429d3d.json
Due: none

setup dependencies
  pyproject.toml
  uv.lock
Due: check-poetry-lock

further works
  basic_fit.py
  csv/SlCzestoArmK.csv
  csv/SlCzestoArmK_NO2.csv
  csv/output.csv
  proces01.py
  requirements.txt
  utils/modelers.py
Due: forbid-print

introducing error calculation
  basic_fit.py
  pyproject.toml
  utils/modelers.py
  uv.lock
Due: forbid-print, check-poetry-lock

lint
  .pre-commit-config.yaml
  basic_fit.py
  fit_with_plotting.py
  pyproject.toml
  utils/modelers.py
  uv.lock
Due: forbid-print, check-poetry-lock
